# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node.js
node_modules/
.next/
out/
build/
.env.local
.env.production
.env.development

# OS
.DS_Store
Thumbs.db

# Zoom
*.log
android-studio-*.exe
*.jpg
.vercel
.env*.local
